@import "../../../../styles/theme";
@import "../../../../styles/mixins";

.modalCard {
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        display: grid;
        grid-template: minmax(20px, 50px) auto minmax(20px, 50px)/ minmax(100px, 1fr) auto minmax(100px, 1fr);
        justify-content: center;
        align-content: center;
        width: 100vw;
        height: 100vh;
        background-color: #00000080;
        z-index: 1200;
        @media (max-width: 767.98px) {
            grid-template: minmax(20px, 50px) auto minmax(20px, 50px)/ minmax(50px, 1fr) auto minmax(50px, 1fr);
        }
        
        @media (max-width: 479.98px) {
            grid-template: minmax(20px, 50px) auto minmax(20px, 50px)/ minmax(20px, 1fr) auto minmax(20px, 1fr);
        }
    }

    &__window {
        grid-row: 2/3;
        grid-column: 2/3;
        display: grid;
        grid-template: 30px 1fr 30px/ 30px 1fr 30px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: $white;
        border: 1px solid $gray;
        border-radius: 16px;
        @media (max-width: 767.98px) {
            grid-template: 30px auto 30px/ 30px auto 30px;
        }
        @media (max-width: 479.98px) {
            grid-template: 30px auto 30px/ 10px auto 10px;
        }
    }

    &__button {
        grid-row: 1/2;
        grid-column: 2/3;
        display: grid;
        align-items: end;
        justify-items: end;

        span {
            width: 20px;
            height: 20px;
            display: inline-block;
            background: url("../img/items/close-input-hover.svg") no-repeat;
            cursor: pointer;
            background-size: 20px;

            &:hover {
                background: url("../img/items/close-dark.svg") no-repeat;
                background-size: 20px;
            }
        }
    }

    &__container{
        grid-row: 2/3;
        grid-column: 2/3;
        display: grid;
        grid-template: 500px/ 300px auto;
        @media (max-width: 767.98px) {
            grid-template: 300px/ 200px minmax(200px, 300px);
        }
        @media (max-width: 479.98px) {
            grid-template: 300px auto/ minmax(150px, 300px);
        }
    }

    &__image {
        grid-column: 1/2;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        background-color: $white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.861);
        @media (max-width: 767.98px) {
            grid-row: 1/2
        }
        @media (max-width: 479.98px) {
            grid-row: 1/2;
            grid-column: 1/2;
            margin-top: 5px;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        grid-column: 2/3;
        display: grid;
        grid-template: minmax(40px, auto) minmax(200px, 1fr) auto/ minmax(300px, 500px);
        grid-row-gap: 20px;
        padding-left: 20px;
        @media (max-width: 767.98px) {
            grid-template: minmax(20px, auto) 1fr auto/ minmax(170px, auto);
            grid-row-gap: 10px;
        }
        @media (max-width: 479.98px) {
            grid-row: 2/3;
            grid-column: 1/2;
            grid-template: minmax(20px, auto) auto auto/ auto;
            grid-row-gap: 0;
            padding-left: 0;
            padding-top: 20px;
        }
    }

    &__title {
        @include adaptiv-value("font-size", 26, 16, 1);
        padding-right: 30px;
        padding-bottom: 20px;
        color: $black;
        font-weight: 600;
        letter-spacing: 0.96px;
        position: relative;
        @media (max-width: 767.98px) {
            padding-bottom: 10px;
        }

        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            height: 2px;
            width: 100%;
            top: 100%;
            left: 0px;
            margin-top: 3px;
            background-color: $gray;
        }
    }

    &__description {
        max-width: 500px;
        max-height: 400px;
        @include adaptiv-value("font-size", 20, 10, 1);
        letter-spacing: 0.96px;
        overflow-y: auto;
        padding-right: 10px;
        @media (max-width: 479.98px) {
            padding: 15px 0 10px 0;
        }
    }

    &__items {
        display: grid;
        grid-template: repeat(3, 30px)/1fr;
        justify-content: start;
        align-items: center;
        position: relative;
        @media (max-width: 767.98px) {
            grid-template: repeat(3, 20px)/ auto;
            align-content: space-between;
        }
        @media (max-width: 479.98px) {
            padding-top: 10px;
        }
        &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $gray;
            @media (max-width: 479.98px) {
                top: 0;
            }
        }

        &>li {
            @include adaptiv-value("font-size", 18, 10, 1);
            font-weight: 600;
            color: $blue;
            letter-spacing: 0.96px;

            span {
                color: $black;
                font-weight: 600;
                letter-spacing: 0.96px;
            }
        }
    }
}