* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'helveticaneue';
  font-display: swap;
  src: url("../fonts/normal/HelveticaNeueNormal.ttf") format("truetype"), url("../fonts/normal/HelveticaNeueNormal.woff") format("woff"), url("../fonts/normal/HelveticaNeueNormal.woff2") format("woff2");
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
  -ms-grid-columns: minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
      grid-template: repeat(3, auto)/minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 10;
}

@media (max-width: 767.98px) {
  .footer {
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
        grid-template: repeat(3, auto)/minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
  }
}

@media (max-width: 479.98px) {
  .footer {
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
        grid-template: repeat(3, auto)/minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
  }
}

.footer__container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
  -ms-grid-columns: 1fr 120px 1fr;
      grid-template: repeat(2, auto)/1fr 120px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link-contacts {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: start;
      justify-self: start;
  line-height: 1.83;
  letter-spacing: 0.96px;
  color: #cecfcf;
  font-size: 20px;
}

@media (max-width: 1500px) {
  .footer__link-contacts {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1180));
  }
}

.footer__link-contacts:hover {
  color: #0aaee4;
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__logo a {
  display: inline-block;
  width: 88px;
  height: 25px;
  background: url("../img/logo/movie.png") 0 0/100% 100% no-repeat;
}

@media (max-width: 1500px) {
  .footer__logo a {
    width: calc(70px + 18 * ((100vw - 320px) / 1180));
  }
}

@media (max-width: 1500px) {
  .footer__logo a {
    height: calc(19px + 6 * ((100vw - 320px) / 1180));
  }
}

.footer__logo a:hover {
  background: url("../img/logo/movie-hover.png") 0 0/100% 100% no-repeat;
}

.footer__list-social {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template: 1fr/repeat(2, 1fr);
}

.footer__list-social li {
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer__list-social li > a {
  display: inline-block;
  height: 20px;
}

.footer__list-social li > a.pin {
  width: 17px;
  background: url("../img/socials/pin.svg") 0 0/100% 100% no-repeat;
  margin-right: 20px;
}

@media (max-width: 479.98px) {
  .footer__list-social li > a.pin {
    margin-right: 10px;
  }
}

.footer__list-social li > a.pin:hover {
  background: url("../img/socials/pin-hover.svg") 0 0/100% 100% no-repeat;
}

.footer__list-social li > a.twi {
  width: 16px;
  background: url("../img/socials/twi.svg") 0 0/100% 100% no-repeat;
}

.footer__list-social li > a.twi:hover {
  background: url("../img/socials/twi-hover.svg") 0 0/100% 100% no-repeat;
}

.footer__copyright {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
}

.footer__copyright a {
  word-wrap: normal;
  font-size: 10px;
  color: #cecfcf;
}

.footer__copyright a:hover {
  color: #0aaee4;
}

.header {
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(134, 134, 134, 0)), to(rgba(0, 0, 0, 0.58)));
  background: linear-gradient(0deg, rgba(134, 134, 134, 0) 0%, rgba(0, 0, 0, 0.58) 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
  -ms-grid-columns: minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
      grid-template: repeat(3, auto)/minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .header {
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
        grid-template: repeat(3, auto)/minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
  }
}

@media (max-width: 479.98px) {
  .header {
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
        grid-template: repeat(3, auto)/minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
  }
}

.header__container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[2] 50px;
      grid-template: 1fr/repeat(2, 1fr) 50px;
}

.header__logo a {
  display: inline-block;
  height: 35px;
  width: 138px;
  background: url("../img/logo/movieW.png") 0 0/100% 100% no-repeat;
}

@media (max-width: 1500px) {
  .header__logo a {
    height: calc(24px + 11 * ((100vw - 320px) / 1180));
  }
}

@media (max-width: 1500px) {
  .header__logo a {
    width: calc(87px + 51 * ((100vw - 320px) / 1180));
  }
}

.header__logo a:hover {
  background: url("../img/logo/movie.png") 0 0/100% 100% no-repeat;
}

.header__link-user {
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: "helveticaneue";
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.57;
  letter-spacing: 1.12px;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1500px) {
  .header__link-user {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1180));
  }
}

.header__link-user:hover {
  color: #0aaee4;
}

.header__link-logout {
  -ms-grid-column-align: end;
      justify-self: end;
  display: inline-block;
  width: 20px;
  height: 35px;
  background: url("../img/items/exit-w.svg") 0 0/100% 100% no-repeat;
  cursor: pointer;
}

.header__link-logout:hover {
  background: url("../img/items/exit-b.svg") 0 0/100% 100% no-repeat;
}

.main {
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__gallery {
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: #000;
}

.main__gallery img.slick-img {
  width: 100vw;
  height: calc(100vh - 80px);
  -o-object-fit: cover;
     object-fit: cover;
}

.main__gallery button.slick-prev {
  width: 50px;
  height: 50px;
  z-index: 100;
  left: 25px;
}

@media (max-width: 767.98px) {
  .main__gallery button.slick-prev {
    z-index: -100;
  }
}

.main__gallery button.slick-next {
  width: 50px;
  height: 50px;
  z-index: 100;
  right: 45px;
}

@media (max-width: 767.98px) {
  .main__gallery button.slick-next {
    z-index: -100;
  }
}

.main__image {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__content {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr 40px 20px;
  -ms-grid-columns: minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
      grid-template: auto 1fr 40px 20px/minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
  margin-bottom: 80px;
}

@media (max-width: 767.98px) {
  .main__content {
    -ms-grid-rows: auto 1fr 40px 20px;
    -ms-grid-columns: minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
        grid-template: auto 1fr 40px 20px/minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
  }
}

@media (max-width: 479.98px) {
  .main__content {
    -ms-grid-rows: auto 1fr 40px 20px;
    -ms-grid-columns: minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
        grid-template: auto 1fr 40px 20px/minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
  }
}

.main__gallery-content {
  display: inline;
  position: relative;
  z-index: 100;
}

.main__gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto minmax(40px, auto);
  -ms-grid-columns: 1fr;
      grid-template: auto minmax(40px, auto)/1fr;
  grid-row-gap: 10px;
  justify-items: center;
}

.main__gallery-title {
  position: absolute;
  bottom: 210px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2.4px;
  line-height: 2.7rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  max-width: 850px;
  text-align: center;
}

@media (max-width: 1500px) {
  .main__gallery-title {
    font-size: calc(14px + 22 * ((100vw - 320px) / 1180));
  }
}

@media (max-width: 991.98px) {
  .main__gallery-title {
    max-width: 550px;
  }
}

@media (max-width: 767.98px) {
  .main__gallery-title {
    line-height: 2rem;
    max-width: 400px;
  }
}

@media (max-width: 479.98px) {
  .main__gallery-title {
    max-width: 250px;
    line-height: 1.5rem;
  }
}

.main__gallery-button {
  position: absolute;
  bottom: 150px;
  display: inline-block;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 150px;
  min-height: 40px;
  padding: 2px;
  border: 3px solid #fff;
  border-radius: 6px;
  background-color: inherit;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1500px) {
  .main__gallery-button {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1180));
  }
}

.main__gallery-button:hover {
  background-color: #0aaee4;
  border: none;
  color: #fff;
}

.modalCard__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(20px, 50px) auto minmax(20px, 50px);
  -ms-grid-columns: minmax(100px, 1fr) auto minmax(100px, 1fr);
      grid-template: minmax(20px, 50px) auto minmax(20px, 50px)/minmax(100px, 1fr) auto minmax(100px, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  z-index: 1200;
}

@media (max-width: 767.98px) {
  .modalCard__wrapper {
    -ms-grid-rows: minmax(20px, 50px) auto minmax(20px, 50px);
    -ms-grid-columns: minmax(50px, 1fr) auto minmax(50px, 1fr);
        grid-template: minmax(20px, 50px) auto minmax(20px, 50px)/minmax(50px, 1fr) auto minmax(50px, 1fr);
  }
}

@media (max-width: 479.98px) {
  .modalCard__wrapper {
    -ms-grid-rows: minmax(20px, 50px) auto minmax(80px, 100px);
    -ms-grid-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
        grid-template: minmax(20px, 50px) auto minmax(80px, 100px)/minmax(20px, 1fr) auto minmax(20px, 1fr);
  }
}

.modalCard__window {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 1fr 30px;
  -ms-grid-columns: 30px 1fr 30px;
      grid-template: 30px 1fr 30px/ 30px 1fr 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #cecfcf;
  border-radius: 16px;
}

@media (max-width: 767.98px) {
  .modalCard__window {
    -ms-grid-rows: 30px auto 30px;
    -ms-grid-columns: 30px auto 30px;
        grid-template: 30px auto 30px/ 30px auto 30px;
  }
}

@media (max-width: 479.98px) {
  .modalCard__window {
    -ms-grid-rows: 30px auto 30px;
    -ms-grid-columns: 10px auto 10px;
        grid-template: 30px auto 30px/ 10px auto 10px;
  }
}

.modalCard__button {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: end;
}

.modalCard__button span {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../img/items/close-input-hover.svg") no-repeat;
  cursor: pointer;
  background-size: 20px;
}

.modalCard__button span:hover {
  background: url("../img/items/close-dark.svg") no-repeat;
  background-size: 20px;
}

.modalCard__container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 500px;
  -ms-grid-columns: 300px auto;
      grid-template: 500px/ 300px auto;
}

@media (max-width: 767.98px) {
  .modalCard__container {
    -ms-grid-rows: 300px;
    -ms-grid-columns: 200px minmax(200px, 300px);
        grid-template: 300px/200px minmax(200px, 300px);
  }
}

@media (max-width: 479.98px) {
  .modalCard__container {
    -ms-grid-rows: 300px auto;
    -ms-grid-columns: minmax(150px, 300px);
        grid-template: 300px auto/minmax(150px, 300px);
  }
}

.modalCard__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.861);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.861);
}

@media (max-width: 767.98px) {
  .modalCard__image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (max-width: 479.98px) {
  .modalCard__image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin-top: 5px;
  }
}

.modalCard__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modalCard__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(40px, auto) minmax(200px, 1fr) auto;
  -ms-grid-columns: minmax(300px, 500px);
      grid-template: minmax(40px, auto) minmax(200px, 1fr) auto/minmax(300px, 500px);
  grid-row-gap: 20px;
  padding-left: 20px;
}

@media (max-width: 767.98px) {
  .modalCard__content {
    -ms-grid-rows: minmax(20px, auto) 1fr auto;
    -ms-grid-columns: minmax(170px, auto);
        grid-template: minmax(20px, auto) 1fr auto/minmax(170px, auto);
    grid-row-gap: 10px;
  }
}

@media (max-width: 479.98px) {
  .modalCard__content {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-rows: minmax(20px, auto) auto auto;
    -ms-grid-columns: auto;
        grid-template: minmax(20px, auto) auto auto/auto;
    grid-row-gap: 10px;
    padding-left: 0;
    padding-top: 20px;
  }
}

.modalCard__title {
  font-size: 26px;
  padding-right: 30px;
  padding-bottom: 20px;
  color: #000;
  font-weight: 600;
  letter-spacing: 0.96px;
  position: relative;
}

@media (max-width: 1500px) {
  .modalCard__title {
    font-size: calc(16px + 10 * ((100vw - 320px) / 1180));
  }
}

@media (max-width: 767.98px) {
  .modalCard__title {
    padding-bottom: 10px;
  }
}

@media (max-width: 479.98px) {
  .modalCard__title {
    padding-bottom: 5px;
  }
}

.modalCard__title::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 100%;
  top: 100%;
  left: 0px;
  margin-top: 3px;
  background-color: #cecfcf;
}

.modalCard__description {
  max-width: 500px;
  max-height: 400px;
  font-size: 20px;
  letter-spacing: 0.96px;
  overflow-y: auto;
  padding-right: 10px;
}

@media (max-width: 1500px) {
  .modalCard__description {
    font-size: calc(10px + 10 * ((100vw - 320px) / 1180));
  }
}

@media (max-width: 479.98px) {
  .modalCard__description {
    padding: 5px 10px 0px 0;
    max-height: 80px;
    overflow: auto;
  }
}

.modalCard__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (30px)[3];
  -ms-grid-columns: 1fr;
      grid-template: repeat(3, 30px)/1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 767.98px) {
  .modalCard__items {
    -ms-grid-rows: (20px)[3];
    -ms-grid-columns: auto;
        grid-template: repeat(3, 20px)/auto;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}

@media (max-width: 479.98px) {
  .modalCard__items {
    padding-top: 10px;
  }
}

.modalCard__items::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #cecfcf;
}

@media (max-width: 479.98px) {
  .modalCard__items::before {
    top: 0;
  }
}

.modalCard__items > li {
  font-size: 18px;
  font-weight: 600;
  color: #0aaee4;
  letter-spacing: 0.96px;
}

@media (max-width: 1500px) {
  .modalCard__items > li {
    font-size: calc(10px + 8 * ((100vw - 320px) / 1180));
  }
}

.modalCard__items > li span {
  color: #000;
  font-weight: 600;
  letter-spacing: 0.96px;
}

.card {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20px;
  gap: 20px;
  -ms-grid-rows: 400px;
  -ms-grid-columns: (300px)[auto-fit];
      grid-template: 400px/repeat(auto-fit, 300px);
}

@media (max-width: 1150px) {
  .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card__container {
  height: 400px;
  width: 300px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(117, 117, 117, 0.244);
          box-shadow: 1px 1px 10px rgba(117, 117, 117, 0.244);
}

.card__container:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.587);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.587);
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

.card__image {
  background-color: #fff;
  height: 320px;
  position: relative;
}

.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #000;
}

.card__description {
  padding: 10px 7px;
  background-color: #fff;
  height: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (40px)[2];
  -ms-grid-columns: 80% 20%;
      grid-template: repeat(2, 40px)/80% 20%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.card__title {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.12px;
  font-size: 16px;
  font-stretch: condensed;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__title:hover {
  color: #0aaee4;
}

.card__vote-average {
  -ms-grid-column-align: end;
      justify-self: end;
}

.card__vote-average > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr/1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0aaee4;
  font-weight: 600;
  border: 2px solid #0aaee4;
  border-radius: 4px;
  width: 36px;
  height: 20px;
  text-align: center;
}

.card__vote-average > div:hover {
  color: #006C98;
  border: 2px solid #006C98;
}

.card__genre {
  color: #0aaee4;
  letter-spacing: 1.12px;
  font-size: 14px;
  font-weight: 600;
}

.card__genre:hover {
  color: #006C98;
}

.filter-panel {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: auto;
  -ms-grid-columns: minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
      grid-template: auto/minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
  background-color: #fff;
}

@media (max-width: 767.98px) {
  .filter-panel {
    -ms-grid-rows: auto;
    -ms-grid-columns: minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
        grid-template: auto/minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
  }
}

@media (max-width: 479.98px) {
  .filter-panel {
    -ms-grid-rows: auto;
    -ms-grid-columns: minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
        grid-template: auto/minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
    justify-items: center;
  }
}

.filter-panel__container {
  padding: 10px 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[2];
      grid-template: auto/repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479.98px) {
  .filter-panel__container {
    -ms-grid-rows: (auto)[2];
    -ms-grid-columns: 1fr;
        grid-template: repeat(2, auto)/1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.select {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: start;
      justify-self: start;
  text-transform: uppercase;
  position: relative;
  color: #0aaee4;
  cursor: pointer;
}

@media (max-width: 479.98px) {
  .select {
    margin: 20px 20px 0 0;
    padding-bottom: 10px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.select::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 100%;
  margin-left: 10px;
  background: url("../img/items/polygon.svg") no-repeat;
  background-size: 10px;
}

.select::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  top: 20px;
  background-color: #cecfcf;
}

.select:hover::after {
  background: url("../img/items/polygon-hover.svg") no-repeat;
  background-size: 10px;
}

.select__title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.select__title:hover {
  color: #006C98;
}

.select__list {
  display: none;
}

.select__input {
  display: none;
}

.select[data-state="active"] {
  color: #006C98;
  position: relative;
}

.select[data-state="active"]::after {
  top: 0px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select[data-state="active"]::before {
  display: none;
}

.select[data-state="active"] .select__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 20px;
  z-index: 10;
  background-color: rgba(245, 246, 246, 0.943);
  border-top: 1px solid #cecfcf;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.select[data-state="active"] .select__label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 150px;
  padding: 10px 15px;
  justify-self: center;
}

.select[data-state="active"] .select__label:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.select[data-state="active"] .select__label:hover {
  background-color: #0aaee4;
  color: #f5f6f6;
}

.filter-panel__search {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 300px;
  height: 30px;
  padding-left: 44px;
  background: url("../img/items/search.svg") no-repeat 8px 3px;
  background-size: 20px;
  border: 1px solid #cecfcf;
  border-radius: 8px;
  background-color: #f5f6f6;
  color: #006C98;
  font-family: "helveticaneue";
  font-size: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: left;
  position: relative;
}

@media (max-width: 1500px) {
  .filter-panel__search {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1180));
  }
}

@media (max-width: 767.98px) {
  .filter-panel__search {
    width: auto;
  }
}

@media (max-width: 479.98px) {
  .filter-panel__search {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: start;
        justify-self: start;
    width: auto;
  }
}

.filter-panel__search::-webkit-input-placeholder {
  color: #0aaee4;
}

.filter-panel__search:-ms-input-placeholder {
  color: #0aaee4;
}

.filter-panel__search::-ms-input-placeholder {
  color: #0aaee4;
}

.filter-panel__search::placeholder {
  color: #0aaee4;
}

.filter-panel__search:hover {
  background: url("../img/items/search-hover.svg") no-repeat 8px 3px;
  background-size: 20px;
  background-color: #f5f6f6;
}

.filter-panel__search:active {
  background: url("../img/items/search.svg") no-repeat 8px 3px;
  background-size: 20px;
  background-color: #f5f6f6;
}

.filter-panel__search:focus {
  background: url("../img/items/search.svg") no-repeat 8px 3px;
  background-size: 20px;
  background-color: #f5f6f6;
  width: 300px;
  outline: none;
}

@media (max-width: 767.98px) {
  .filter-panel__search:focus {
    width: auto;
  }
}

.filter-panel__search.activeInput {
  width: 300px;
  background-color: #f5f6f6;
}

@media (max-width: 767.98px) {
  .filter-panel__search.activeInput {
    width: auto;
  }
}

.filter-panel__search.activeInput::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: url("../img/items/close-input.svg") no-repeat;
  background-size: 16px;
  margin-right: 16px;
  margin-left: 6px;
  cursor: pointer;
}

.filter-panel__search.activeInput::-webkit-search-cancel-button:hover {
  background: url("../img/items/close-input-hover.svg") no-repeat;
  background-size: 16px;
}

.contacts {
  height: 100vh;
  background-color: #0aaee4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1fr 80px;
  -ms-grid-columns: minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
      grid-template: 100px 1fr 80px/minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
  color: #fff;
  overflow: auto;
}

@media (max-width: 767.98px) {
  .contacts {
    -ms-grid-rows: 100px 1fr 80px;
    -ms-grid-columns: minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
        grid-template: 100px 1fr 80px/minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
  }
}

@media (max-width: 479.98px) {
  .contacts {
    -ms-grid-rows: 100px 1fr 80px;
    -ms-grid-columns: minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
        grid-template: 100px 1fr 80px/minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
  }
}

.contacts__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: auto;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template: auto auto auto auto 1fr/ 1fr;
  margin-bottom: 30px;
}

.contacts__title {
  font-size: 40px;
  color: #006C98;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
}

.contacts__title::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #cecfcf;
}

.contacts__subtitle {
  margin-top: 20px;
  padding-left: 30px;
  font-size: 26px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.contacts__subtitle::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -3px;
  width: 100%;
  height: 100%;
  background: url("../img/socials/email.svg") no-repeat;
  background-size: 28px;
}

.contacts__subtitle:hover {
  color: #006C98;
}

.contacts__subtitle:hover::before {
  background: url("../img/socials/email-hover.svg") no-repeat;
  background-size: 28px;
}

.container-auth {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #f5f6f6;
}

.auth {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto 2fr;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template: 1fr auto 2fr/ 1fr auto 1fr;
  height: 100vh;
}

.auth__content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
  -ms-grid-columns: auto;
      grid-template: repeat(2, auto)/auto;
}

.auth__nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 50px;
}

.auth__nav span {
  display: inline-block;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #0aaee4;
  position: relative;
}

.auth__nav span:hover {
  color: #006C98;
}

.auth__nav .auth__nav-in {
  margin-right: 20px;
}

.auth__nav .navActive {
  color: #006C98;
}

.auth__nav .navActive::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #006C98;
  top: 100%;
  margin-top: 5px;
}

.auth__card {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: auto;
  background-color: #0aaee4;
  border-radius: 5px;
  padding: 25px 50px;
  color: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(53, 52, 52, 0.651);
          box-shadow: 2px 2px 10px rgba(53, 52, 52, 0.651);
}

@media (max-width: 767.98px) {
  .auth__card {
    width: 300px;
  }
}

.auth__message {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FF4530;
  max-width: 250px;
  margin-bottom: 15px;
}

.auth .success {
  color: #D8F6A2 !important;
}

.auth__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 20px;
}

.auth__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.auth__password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 20px;
}

.auth input {
  margin-top: 5px;
  height: auto;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  color: #333;
  font-weight: 600;
}

.auth input:hover {
  outline: 2px solid #006C98;
}

.auth input:focus {
  outline: 2px solid #006C98;
}

.auth label {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
}

.auth .auth__reg, .auth .auth__enter {
  margin: 20px 0px 15px 0px;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  min-height: 40px;
  padding: 2px;
  border: 3px solid #fff;
  border-radius: 6px;
  background-color: inherit;
  color: white;
}

.auth .auth__reg:hover, .auth .auth__enter:hover {
  background-color: white;
  color: #0aaee4;
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
}

.lds-roller {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #006C98;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main__cards-pagination {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #0aaee4;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.pagination__btn:hover {
  background-color: #006C98;
}

.pagination .active-btn {
  background-color: #006C98;
}

.prev::before, .next::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: url("../img/items/arrow-pag.svg") 0 0/100% 100% no-repeat;
}

.next::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body {
  font-family: "helveticaneue";
  background-color: #f5f6f6;
}

body.modal-full {
  overflow-y: hidden;
  height: 100vh;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-content {
  overflow: hidden;
}
