@import "../../../../styles/theme";
@import "../../../../styles/mixins";

.filter-panel{
    grid-row: 1/2;
    grid-column: 1/4;
    margin-bottom: 15px;
    display: grid;
    align-items: center;
    grid-template: auto/ minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
    background-color: $white;
    @media (max-width: 767.98px) {
        grid-template: auto/ minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
    }
    @media (max-width: 479.98px) {
        grid-template: auto/ minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
        justify-items: center;
    }
    &__container{
        padding: 10px 0;
        grid-column: 2/3;
        display: grid;
        grid-template: auto/ repeat(2, 1fr);
        align-items: center;
        @media (max-width: 479.98px) {
            grid-template: repeat(2, auto)/ 1fr;
            justify-content: center;
        }
    }
}