@import "../../../../styles/theme";
@import "../../../../styles/mixins";

.main {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__gallery {
        width: 100vw;
        height: calc(100vh - 80px);
        background-color: $black;

        img.slick-img{
            width: 100vw;
            height: calc(100vh - 80px);
            object-fit: cover;
        }
        button.slick-prev{
            width: 50px;
            height: 50px;
            z-index: 100;
            left: 25px;
            @media (max-width: 767.98px) {
                z-index: -100;
            }
        }
        button.slick-next{
            width: 50px;
            height: 50px;
            z-index: 100;
            right: 45px;
            @media (max-width: 767.98px) {
                z-index: -100;
            }
        }    
    }

    &__image {
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        width: 100%;
        height: auto;
        display: grid;
        grid-template: auto auto 50px/ minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
        margin-bottom: 80px;
        @media (max-width: 767.98px) {
            grid-template: auto auto 50px/ minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
        }
        @media (max-width: 479.98px) {
            grid-template: auto auto 50px/ minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
        }
    }
    
//====================================================================================

    &__gallery-content {
        display: inline;
        position: relative;
        z-index: 100;
        bottom: 200px;
    }

    &__gallery-container {
        display: grid;
        grid-template: repeat(2, auto)/1fr;
        justify-items: center;
    }

    &__gallery-title {
        grid-row: 1/2;
        @include adaptiv-value("font-size", 40, 16, 1);
        color: $white;
        font-weight: 600;
        letter-spacing: 2.4px;
        line-height: 3.5rem;    
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        max-width: 850px;
        text-align: center;
        @media (max-width: 991.98px) {
            line-height: 3rem;
            max-width: 550px;
        }
        @media (max-width: 767.98px) {
            line-height: 2.5rem;
            max-width: 400px;
        }     
        @media (max-width: 479.98px) {
            max-width: 250px;
            line-height: 2rem;
        }
    }

    &__gallery-button {
        margin-top: 20px;
        display: inline-block;
        grid-row: 2/3;
        width: 150px;
        height: 40px;
        border: 3px solid $white;
        border-radius: 6px;
        background-color: inherit;
        @include adaptiv-value("font-size", 20, 16, 1);
        color: $white;

        &:hover {
            background-color: $blue;
            border: none;
            color: $white;
        }
    }
}