@font-face {
    font-family: 'helveticaneue';
    font-display: swap;
    src:url('../fonts/normal/HelveticaNeueNormal.ttf') format('truetype'),
        url('../fonts/normal/HelveticaNeueNormal.woff') format('woff'),
        url('../fonts/normal/HelveticaNeueNormal.woff2') format('woff2');  
}
