$minWidth: 320;
$maxWidth: 2400;
$maxWidthContainer: 2120;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//=============

$white: #fff;
$white-gray: #f5f6f6;
$gray: #cecfcf;
$gray-dark: rgba(51, 51, 51, 0.783);
$blue: #0aaee4;
$blue-dark: #006C98;
$black: #000;