@import "_nullstyle";
@import "_theme";
@import "_fonts";
@import "_mixins";
@import "../components/Footer/footer";
@import "../components/Header/header";
@import "../components/pages/MoviesPage/Gallery/gallery";
@import "../components/pages/MoviesPage/ModalCard/modalCard";
@import "../components/pages/MoviesPage/CardsContent/card";
@import "../components/pages/MoviesPage/PanelFilter/panelFilter";

body{
    font-family: "helveticaneue";
    background-color: $white-gray;
    &.modal-full{
        overflow-y: hidden;
        height: 100vh;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    // max-width: $maxWidthContainer + px;
    // margin: 0 auto;
    // grid-template-areas: "header" "main" "footer";
    // @media (max-width: $md1+px) {
    //         max-width: 970px;
    //     }    
    // @media (max-width: $md2+px) {
    //     max-width: 750px;
    // }
    // @media (max-width: $md3+px) {
    //     max-width: none;
    //     padding: 0 10px;
    // }
}


