@import "_nullstyle";
@import "_theme";
@import "_fonts";
@import "_mixins";
@import "../components/Footer/footer";
@import "../components/Header/header";
@import "../components/pages/MoviesPage/Gallery/mainAndGallery";
@import "../components/pages/MoviesPage/ModalCard/modalCard";
@import "../components/pages/MoviesPage/CardsContent/card";
@import "../components/pages/MoviesPage/PanelFilter/panelFilter";
@import "../components/pages/MoviesPage/PanelFilter/Filter/filter";
@import "../components/pages/MoviesPage/PanelFilter/Search/search";
@import "../components/pages/UserPage/userPage";
@import "../components/pages/AuthPage/authPage";

body{
    font-family: "helveticaneue";
    background-color: $white-gray;
    &.modal-full{
        overflow-y: hidden;
        height: 100vh;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


