// @import "_nullstyle";
@import "_theme";
@import "_fonts";

h1{
    color: red;
    font-family: 'helveticaneue';
    font-weight: 400;
}

div.logo{
    // background-image: url(../img/logo/movie.png);
    width: 500px;
    height: 500px;
}